.usersList-container {
    padding: 20px;
    background-color: var(--bg-secondary);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 70vh;
    margin-top:80px;
  }
  
  .usersList-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-primary);
  }
  
  .usersList-table-container {
    margin-top: 10px;
    overflow-x: auto;
  }
  
  .usersList-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--bg-primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .usersList-table th,
  .usersList-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid var(--border-color);
  }
  
  .usersList-table th {
    background-color: var(--bg-secondary);
    color: var(--text-light);
  }
  
  .usersList-table tr:nth-child(even) {
    background-color: var(--bg-primary);
  }
  
  .action-icon {
    margin-right: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }
  
  .edit-icon {
    color: var(--primary-main);
  }
  
  .edit-icon:hover {
    background-color: rgba(249, 228, 66, 0.12);
  }
  
  .delete-icon {
    color: var(--primary-main);
    border:none;
  }
  
  .delete-icon:hover {
    background-color: rgba(86, 17, 16, 0.25);
    color: var(--primary-light);
  }
  
  .loading-message {
    font-size: 18px;
    color: var(--text-secondary);
  }
  
  @media (max-width: 768px) {
    .usersList-table {
      font-size: 14px;
    }
  
    .usersList-table th,
    .usersList-table td {
      padding: 8px;
    }
  
    .usersList-table th {
      font-size: 16px;
    }
  
    .action-icon {
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {
    .usersList-title {
      font-size: 20px;
    }
  
    .usersList-table th,
    .usersList-table td {
      padding: 6px;
    }
  
    .usersList-table th {
      font-size: 14px;
    }
  
    .action-icon {
      font-size: 16px;
    }
  }
  